<head>
<title>{{.Title}}{{ .Site.Params.fanmai }}{{ .Site.Params.fanma }}{{ .Site.Params.fanmai }}{{ .Site.Params.huangshengfeng }}</title>
{{ $description := .Params.description}}{{if .IsHome}}{{ $description = .Site.Params.description}}{{end}}
<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="{{ $description }}">
<meta name="keywords" content="{{if .IsHome}}{{ .Site.Params.keywords }}{{end}}{{if .IsPage}}{{ if gt .Params.tags 0 }}{{ range .Params.tags }}{{ . }},{{ end }}{{end}}{{end}}{{ .Site.Params.fanma }}">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
<link rel="apple-touch-icon" sizes="180x180" href="/images/blognav.fanma.eu.org.png">
<link rel="icon" type="image/png" href="/images/blognav.fanma.eu.org.png" sizes="256x256">
<!--{{ $styles := resources.Get "scss/fanma.scss" | toCSS | minify | fingerprint }}<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"> -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
<link rel="stylesheet" href="/css/fonts/linecons/css/linecons.css">
<link rel="stylesheet" href="/css/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/xenon-core.css">
<link rel="stylesheet" href="/css/xenon-components.css">
<link rel="stylesheet" href="/css/xenon-skins.css">
<link rel="stylesheet" href="/css/nav.css">
<script src="/js/jquery-1.11.1.min.js"></script>
</head>