{{ define "menu-item" }}
  {{ $page := .page }}
  {{ with .entry }}
    {{ if .HasChildren }}
      <li>
		
        <a href="#{{ .Name }}">{{ .Pre }}<span class="title">{{ .Name }}</a>
        <ul class="sub-menu">
          {{ range .Children }}
            {{ template "menu-item" (dict "entry" . "page" $page) }}
          {{ end }}
        </ul>
      </li>
    {{ else }}
      <li>
        <a href="#{{ .Name }}">{{ .Pre }}<span class="title">{{ .Name }}</span></a>
      </li>
    {{ end }}
  {{ end }}
{{ end }}

<ul id="main-menu" class="main-menu">
  {{ $page := . }}
  {{ range .Site.Menus.main }}
    {{ template "menu-item" (dict "entry" . "page" $page) }}
  {{ end }}
</ul>
			
			
