
    {{ range where .Site.Pages "Section" "Common" }}
    <div class="link">
                    <a href="{{.Description}}" target="_blank">
                        <div class="link-img">
                            {{ $featured_image := .Params.featured_image }}
                            {{ if $featured_image }}
                                {{ $image := .Resources.GetMatch (.Params.featured_image) }}
    
                                                            {{ if $image }}
                                    {{ $thumbnail := $image.Resize "690x360" }}
                                     <img src="{{ $thumbnail.RelPermalink }}" width="40px">
                                {{ else }}
                                    <img src="{{ $featured_image | absURL}}" width="40px">
                                {{ end }}
    
                            {{ end }}
                        </div>
                        <div class="link-title"><p class="link-title-t">{{.Title}}</p>{{.Content}}</div>
                    </a>

    </div>
    {{ end }}