<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}{{ .Site.Params.fanmai }}{{ .Site.Params.fanma }}{{ .Site.Params.fanmai }}{{ .Site.Params.huangshengfeng }}</title>
    {{ $description := .Params.description}}{{if .IsHome}}{{ $description = .Site.Params.description}}{{end}}
    <meta name="description" content="{{ $description }}">
    <meta name="keywords" content="{{if .IsHome}}{{ .Site.Params.keywords }}{{end}}{{if .IsPage}}{{ if gt .Params.tags 0 }}{{ range .Params.tags }}{{ . }},{{ end }}{{end}}{{end}}{{ .Site.Params.fanma }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/blognav.fanma.eu.org.png">
    <link rel="icon" type="image/png" href="/images/blognav.fanma.eu.org.png" sizes="256x256">
    {{ $styles := resources.Get "scss/fanma.scss" | toCSS | minify | fingerprint }}<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
</head>