::selection {
    color: #ffffff;
    background: #12a0b5;
}
* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
    Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    background-image: url();
    background-attachment: fixed;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
i {
    font-size: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}