{{ define "main" }}
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/" class="logo-expanded">
                            <img src="/images/logo.png" width="100%" alt="" />
                        </a>
                        <a href="index.html" class="logo-collapsed">
                            <img src="/images/blognav.fanma.eu.org.png" width="40" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="user-info-menu">
                            <i class="linecons-cog"></i>
                        </a>
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>
{{- partial "nav.html" . -}}
            </div>
        </div>
        <div class="main-content">
            <nav class="navbar user-info-navbar" role="navigation">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
                    <li class="dropdown hover-line language-switcher">
                        <a href="./" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/images/flags/flag-cn.png" alt="flag-cn" /> Chinese
                        </a>
                        <ul class="dropdown-menu languages">
                            <li>
                                <a href="/">
                                    <img src="/images/flags/flag-us.png" alt="flag-us" /> English
                                </a>
                            </li>
                            <li class="active">
                                <a href="/">
                                    <img src="/images/flags/flag-cn.png" alt="flag-cn" /> Chinese
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="user-info-menu right-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank">
                            <i class="fa-github"></i>  GitHub
                        </a>
                    </li>
                </ul>
                <!-- <a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->

            </nav>
            <!-- 常用推荐 -->
            <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="优秀博客"></i>优秀博客</h4>
			{{- partial "common.html" . -}}
			<br />
			<h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="博客推荐"></i>博客推荐</h4>
			{{- partial "recommend.html" . -}}
            <br />
			<h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="博客导航"></i>博客导航</h4>
			{{- partial "blognav.html" . -}}
            <br />
			<h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="热门框架"></i>热门框架</h4>
			{{- partial "frame-hot.html" . -}}
            <br />
			<h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="博主收藏"></i>博主收藏</h4>
			{{- partial "collects.html" . -}}
            <br />
            <!--END UED团队 -->
            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        	{{ if .Site.Copyright }}{{ .Site.Copyright }}{{.Site.Home.Date.Year}} <a href="https://fanma.eu.org/" target="_blank" title="黄胜丰" ><strong>{{.Site.Title}}</strong></a>{{ .Site.Params.banquan }}{{ else }}{{.Site.Home.Date.Year}} {{.Site.Title}}{{ end }} Hugo Theme <a href="/" target="_blank" title="FanMa-WebStack" ><strong>FanMa-WebStack</strong></a> by <a href="https://fanma.eu.org/" target="_blank" title="黄胜丰" ><strong>黄胜丰</strong></a>,Ported from <a href="https://www.webstack.cc" target="_blank" ><strong>WebStack</strong></a>.Domain from <a href="https://freedns.afraid.org" target="_blank" ><strong>Free DNS</strong></a>,CDN by Cloudflare , Hosted by GitHub Pages.
                        <!--  - Purchase for only <strong>23$</strong> -->
                    </div>
                    <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
	
    <!-- 锚点平滑移动 -->
    <script type="text/javascript">
    $(document).ready(function() {
         //img lazy loaded
         const observer = lozad();
         observer.observe();

        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);
              
            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })
        $('.user-info-menu .hidden-sm').click(function(){
            if($('.sidebar-menu').hasClass('collapsed')) {
                $('.has-sub.expanded > ul').attr("style","")
            } else {
                $('.has-sub.expanded > ul').show()
            }
        })
        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        $("a.smooth").click(function(ev) {
            ev.preventDefault();

            public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
            ps_destroy();
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top - 30
            }, {
                duration: 500,
                easing: "swing"
            });
        });
        return false;
    });

    var href = "";
    var pos = 0;
    $("a.smooth").click(function(e) {
        $("#main-menu li").each(function() {
            $(this).removeClass("active");
        });
        $(this).parent("li").addClass("active");
        e.preventDefault();
        href = $(this).attr("href");
        pos = $(href).position().top - 30;
    });
    </script>
    <!-- Bottom Scripts -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/resizeable.js"></script>
    <script src="/js/joinable.js"></script>
    <script src="/js/xenon-api.js"></script>
    <script src="/js/xenon-toggles.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="/js/xenon-custom.js"></script>
    <script src="/js/lozad.js"></script>
{{ end }}